@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<AutoparkDAL.Entities.OrderItem>

@{
    Layout = "_Layout";
}

@{
    ViewData["Title"] = ViewBag.Vehicle  + " order info:";
}
<h2>@ViewData["Title"]</h2>
<br/>
<table class="table table-bordered table-striped w-75">
    <br/>
    <tr>
        <th>Component Name: </th>
        <th>Component Number: </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Component.Name</td>
            <td>@item.Quantity</td>
        </tr>
    }
</table>
<br/>
<div>
    <a type="button" asp-controller="Home" asp-action="Index" class="btn m-2" style="color: #41464b"><i class="fa-solid fa-arrow-right-from-bracket"></i> Back to List</a>
</div>