@model AutoparkDAL.Entities.VehicleType

@{
    Layout = "_Layout";
}

<form asp-action="Create" asp-controller="VehicleType">
    <div>
        <div class="form-group">
            <label asp-for="Name">Vehicke Type Name:</label>
            <input type="text" asp-for="Name" class="form-control form-control-sm" />
        </div>
        <div class="form-group">
            <label asp-for="TaxCoefficient">Tax coefficient:</label>
            <input asp-for="TaxCoefficient" class="form-control form-control-sm" />
        </div>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-success" />
        </div>
    </div>
</form>
