@model IEnumerable<AutoparkDAL.Entities.VehicleType>


@* *@
@* @{ *@
@*     ViewBag.Title = "title"; *@
@*     Layout = "_Layout"; *@
@* } *@


<table class="table-bordered">
    <tr class="">
        <th>VehicleType Id</th>
        <th>Name</th>
        <th>Tax Coefficient</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.VehicleTypeId</th>
            <th>@item.Name</th>
            <th>@item.TaxCoefficient</th>
        <th>
            @* <a type="button" asp-controller="VehicleType" asp-action="Edit" asp-route-id="@item.VehicleTypeId" class="btn btn-info w-100">Edit</a> *@
        </th>
        <th>
            <input type="submit" value="Delete" asp-controller="VehicleType" asp-action="Delete" class="btn btn-danger"/>
            </th>
        </tr>
    }
</table>

<a asp-controller="VehicleType" asp-action="Create">
    Add new Vehicle Type
</a>

