@model AutoparkDAL.Entities.Vehicle

@{
    ViewData["Title"] = "Edit Vehicle";
}
<h2>@ViewData["Title"]</h2>
 
<form asp-action="EditConfirm" asp-controller="Vehicle">
    <div>
        <input type="hidden" asp-for="VehicleId"/>
        <div class="form-group">
            <label asp-for="Model">Model :</label>
            <input type="text" asp-for="Model" class="form-control"/>
        </div>
        <div class="form-group">
            <label asp-for="VehicleTypeId">Type:</label>
            <select class="form-control" asp-for="VehicleTypeId" asp-items="@ViewBag.TypeList"></select>
        </div>
        <div class="form-group">
            <label asp-for="Year">Year :</label>
            <input type="number" asp-for="Year" class="form-control"/>
        </div>
        <div class="form-group">
            <label asp-for="RegistrationNumber">Number :</label>
            <input type="text" asp-for="RegistrationNumber" class="form-control"/>
        </div>
        <div class="form-group">
            <label asp-for="Mileage">Mileage :</label>
            <input type="number" asp-for="Mileage" class="form-control"/>
        </div>
        <div class="form-group">
            <label asp-for="Weight">Weight :</label>
            <input type="number" asp-for="Weight" class="form-control"/>
        </div>
        <div class="form-group">
            <label asp-for="Color">Color :</label>
            <input type="text" asp-for="Color" class="form-control"/>
        </div>
        <div class="form-group">
            <label asp-for="Volume">Volume :</label>
            <input type="number" asp-for="Volume" class="form-control"/>
        </div>
        <div class="form-group">
            <label asp-for="FuelConsumption">Fuel consumption :</label>
            <input asp-for="FuelConsumption" class="form-control"/>
        </div>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-success"/>
        </div>
    </div>
</form>
 
<div>
    <a type="button" asp-controller="Vehicle" asp-action="Index" class="btn m-2" style="color: #41464b"><i class="fa-solid fa-arrow-right-from-bracket"></i> Back to List</a>
</div>